
<h2>Authorisation for payment taken</h2>


<p>Thank you for your order from the Foreign & Commonwealth Office. We have taken pre-authorisation for the following:</p>

<div class ="content-block">
	<div class ="application-notice info-notice">
		<p>Date: <%= date %></p>
		<p>Payment Reference: <%= extractedParameters.merchantReference %></p>
		<p>FCO Reference: <%= extractedParameters.pspReference %></p>
		<p>Service: <%= transaction.slug %></p>
		<p>Amount: &pound;<%= formatMoney(merchantReturnDataJson.pa) %></p>
		<p>Card type: <%= extractedParameters.paymentMethod %></p>
		<p>You have paid for <%= registrationsAndCertificates(merchantReturnDataJson) %><% if (merchantReturnDataJson.p == 'yes'){ %> plus postage<% } %></p>
	</div>
</div>

<p>We have emailed you a confirmation. If you don't receive the email please check your spam folder.</p>
<p>When we have confirmed we can provide the service we will take the payment and send you a receipt.</p>


<h2>What to do next</h2>
 
<p>Print out this page or your emailed confirmation and send it, along with your application form and supporting documents listed on the form, to the Foreign & Commonwealth Office (FCO). The address is on the form.</p>