<div class="govuk-box-highlight">
    <h1 style="font-weight: 700; font-size: 36px;">Payment complete</h1>
    <p>Your FCO payment reference number is</p>
    <h2><%= extractedParameters.pspReference %></h2>
</div>

<p>Thank you for your order from the Foreign & Commonwealth Office. We have taken pre-authorisation for the following:</p>

    <ul>
        <li>
        Amount: &pound;<%= formatMoney(merchantReturnDataJson.cost) %>
        </li>
        <li>
        Card Type: <%= extractedParameters.paymentMethod %>
        </li>
        <li>
        Date: <%= date %>
        </li>
    </ul>



<p>We have emailed you a confirmation. If you don't receive the email please check your spam folder.</p>

<h2>What to do next</h2>

<p>
    Email the Legalisation Office at EpaymentEnquiries@fco.gov.uk with the following information:
</p>
<ul>
    <li>
        your FCO payment reference number <%= extractedParameters.pspReference %>
    </li>
    <li>
        your existing application reference - this will start with the letter 'A' and be followed by a combination of letters and numbers eg A-C-16-1212-8274-064C
    </li>
</ul>

