
<h2>Authorisation for payment taken</h2>

<p>Thank you for your order from the Foreign & Commonwealth Office. We have taken pre-authorisation for the following:</p>

<div class ="content-block">
	<div class ="application-notice info-notice">
		<p>Date: <%= date %></p>
		<p>Payment Reference: <%= extractedParameters.merchantReference %></p>
		<p>FCO Reference: <%= extractedParameters.pspReference %></p>
		<p>Service: <%= transaction.slug %></p>
		<p>Number of items: <%= merchantReturnDataJson.dc %></p>
		<p>Amount: &pound;<%= formatMoney(merchantReturnDataJson.pa) %></p>
		<p>Card type: <%= extractedParameters.paymentMethod %></p>
		<p>You have paid &pound;<%= formatMoney(merchantReturnDataJson.pa) %> for <%= pluralise("documents", documentCount(merchantReturnDataJson))%> including <%= capitalise(merchantReturnDataJson.po) %> postage</p>
	</div>
</div>

<p>We have emailed you a confirmation. If you don't receive the email please check your spam folder.</p>
<p>When we have confirmed we can provide the service we will take the payment and you will receive a receipt via email.</p>

<h2>What to do next</h2>

<p>Send the following items to the Legalisation Office:</p>

<ul>
  <li>the documents you want legalised</li>
  <li>a signed <a href="https://www.gov.uk/government/publications/legalisation-application-form">Legalisation application form</a> (with your payment reference number added)</li>
  <li>a print out of this payment confirmation page or your emailed confirmation</li>
  <% if (merchantReturnDataJson.po == "prepaid"){ %>
  <li>an A4-sized envelope (prepaid if using Royal Mail) so your documents can be safely returned</li>
  <% } -%>
</ul>

<div class="address">
  <p>Legalisation Office</p>
  <p>Foreign &amp; Commonwealth Office</p>
  <p>PO Box 6255</p>
  <p>Milton Keynes</p>
  <p>MK10 1XX</p>
</div>

<div class="application-notice help-notice"><p>You must post your application and documents - you can't go to the legalisation office in person.</p></div>


<h2>If you’re abroad or using a courier</h2>

<p>Send your application to the following address if you’re abroad or using a courier service in the UK:</p>

<div class="address">
  <p>The Legalisation Office</p>
  <p>Foreign &amp; Commonwealth Office</p>
  <p>Hanslope Park</p>
  <p>Hanslope</p>
  <p>Milton Keynes</p>
  <p>MK19 7BH</p>
</div>

