<div class="govuk-box-highlight">
    <h1 style="font-weight: 700; font-size: 36px; margin: 0px;">Payment complete</h1>
    <p style="margin: 0px;">Your FCDO payment reference number is</p>
    <h2 style="margin: 0px;"><%= extractedParameters.pspReference %></h2>
</div>

<p>Thank you for your order from the Foreign, Commonwealth and Development Office. We've taken pre-authorisation for the following:</p>

    <ul style="padding: 0 20px;">
        <li>
        amount: £<%= formatMoney(merchantReturnDataJson.cost) %>
        </li>
        <li>
        card type: <%= extractedParameters.paymentMethod %>
        </li>
        <li>
        date: <%= date %>
        </li>
    </ul>



<p>We've emailed a confirmation to <%= merchantReturnDataJson.e%>. If you don't receive the email please check your spam folder.</p>

<h2>What to do next</h2>

<p>
    Email the Legalisation Office at <a href="mailto:EpaymentEnquiries@fco.gov.uk">EpaymentEnquiries@fco.gov.uk</a> with the following information:
</p>
<ul style="padding: 0 20px;">
    <li>
        your FCDO payment reference number <%= extractedParameters.pspReference %>
    </li>
    <li>
        your existing application reference - this will start with the letter 'A' and be followed by a combination of letters and numbers eg A-C-16-1212-8274-064C
    </li>
</ul>

<p><a href="/additional-payments">Make another payment</a></p>

