<main id="content" role="main" class="group">

  <header class="page-header group">
    <div>
        <%if (transaction.slug === 'pay-legalisation-post'){%>
      <h1><%= transaction.titleConfirm %></h1>
      <%}else{%>
      <h1><%= transaction.title %></h1>
        <%}%>
    </div>
  </header>
  <div class="article-container group">
    <article role="article" class="group">
      <div class="inner">

        <%- partial("partials/transactions/" + transaction.slug + "/_confirm", { calculation: calculation }) %>
        
		<form action=<%= smartPayRequest.requestUrl() %> method="post" class="smartpay-submit">
        <% var ordered =  requestParameters; %>
        <% for(var key in ordered){ %>
          <input type="hidden" name="<%= key %>" value="<%= ordered[key] %>" />
        <% } %>
		<input type="hidden" name="merchantSig" value="<%= smartPayRequest.hmacSignature() %>" />

            <%if (transaction.slug === 'pay-legalisation-post'){%>
            <p id="get-started" class="get-started-post group">
              <button class="button" type="submit">Pay now</button>
              <span class="destination"> on Barclaycard</span>
              <br />
              <a href="/additional-payments">Cancel</a>
            </p>
          <%}else{%>
            <p id="get-started" class="get-started group">
              <button class="button" type="submit">Pay</button>
              <span class="destination"> on Barclaycard</span>
            </p>
            <%}%>

      </div>
    </article>
  </div>

</main>
