<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<body style="margin: 0; padding: 0;">
<table style="width:800px;border-collapse:collapse;">
    <tr>
        <td style="background-color:#0b0c0c;"><img src="cid:govuk" alt="">
        </td>
    </tr>
    <tr>
        <td><img src="cid:fco" alt="" /></td>
    </tr>
    <tr>
        <td>

            <h1 style="font-family:nta, Arial, sans-serif;font-size: 3.2em;line-height: 1.04167;font-weight: 700;text-transform: none;">Additional payments for legalisation</h1>

            <h2 style="font-family:nta, Arial, sans-serif;font-size: 1.5em;line-height: 1.04167;font-weight: bold;text-transform: none;">Receipt</h2>

            <p style="font-family:nta, Arial, sans-serif; font-size:1em; line-height:1.31579; font-weight:50; text-transform:none;">Thank you for your order from the Foreign, Commonwealth and Development Office. We have now taken payment for the following:</p>

            <p style="text-indent: 25px;font-family:nta, Arial, sans-serif; font-size:1em; line-height:1.31579; font-weight:50; text-transform:none;">Date: <%= date %></p>
            <p style="text-indent: 25px;font-family:nta, Arial, sans-serif; font-size:1em; line-height:1.31579; font-weight:50; text-transform:none;">FCO Payment Reference: <%= pspReference %></p>
            <p style="text-indent: 25px;font-family:nta, Arial, sans-serif; font-size:1em; line-height:1.31579; font-weight:50; text-transform:none;">Service: <%= slug %></p>
            <p style="text-indent: 25px;font-family:nta, Arial, sans-serif; font-size:1em; line-height:1.31579; font-weight:50; text-transform:none;">Amount: £<%= pa %></p>
            <p style="text-indent: 25px;font-family:nta, Arial, sans-serif; font-size:1em; line-height:1.31579; font-weight:50; text-transform:none;">Card number: XXXX XXXX XXXX <%= lastFourDigits %></p>
            <p style="text-indent: 25px;font-family:nta, Arial, sans-serif; font-size:1em; line-height:1.31579; font-weight:50; text-transform:none;">Card type: <%= paymentMethod %></p>

            <br />
            <br />

            <h3 style="font-family:nta, Arial, sans-serif;font-size: 1em;line-height: 1.04167;font-weight: bold;text-transform: none;">The Legalisation Office, Foreign, Commonwealth and Development Office</h3>

            <p style="font-family:nta, Arial, sans-serif; font-size:1em; line-height:1.31579; font-weight:50; text-transform:none;"><a href="https://www.gov.uk/get-document-legalised">www.gov.uk/get-document-legalised</a></p>

            <hr>

            <h3 style="font-family:nta, Arial, sans-serif;font-size: 1em;line-height: 1.04167;font-weight: bold;text-transform: none;">Contact the legalisation office</h3>

            <p style="font-family:nta, Arial, sans-serif; font-size:1em; line-height:1.31579; font-weight:50; text-transform:none;">This is an automatic email - please don't reply to this address. If you want to contact us use the details below:</p>

            <p style="font-family:nta, Arial, sans-serif; font-size:1em; line-height:1.31579; font-weight:50; text-transform:none;"><a href="mailto:legalisationenquiries@fco.gsi.gov.uk">legalisationenquiries@fco.gsi.gov.uk</a></p>

            <p style="font-family:nta, Arial, sans-serif; font-size:1em; line-height:1.31579; font-weight:50; text-transform:none;">Telephone: 03700 00 22 44</p>

            <p style="font-family:nta, Arial, sans-serif; font-size:1em; line-height:1.31579; font-weight:50; text-transform:none;">Monday to Friday, midday to 4pm</p>

            <p style="font-family:nta, Arial, sans-serif; font-size:1em; line-height:1.31579; font-weight:50; text-transform:none;"><a href="https://www.gov.uk/call-charges">Find out about call charges</a></p>

        </td>
    </tr>
</table>
</body>