<h2>Authorisation for payment taken</h2>

<p>Thank you for your order from the Foreign & Commonwealth Office. We have taken pre-authorisation for the following:</p>

<div class ="content-block">
	<div class ="application-notice info-notice">
		<p>Date: <%= date %></p>
		<p>Payment Reference: <%= extractedParameters.merchantReference %></p>
		<p>FCO Reference: <%= extractedParameters.pspReference %></p>
		<p>Service: <%= premiumService %></p>
		<p>Amount: &pound;<%= formatMoney(merchantReturnDataJson.pa) %></p>
		<p>Card type: <%= extractedParameters.paymentMethod %></p>
		<p>You have paid &pound;<%= formatMoney(merchantReturnDataJson.pa) %> for <%= pluralise("documents", documentCount(merchantReturnDataJson))%></p>
	</div>
</div>

<p>We have emailed you a confirmation. If you don't receive the email please check your spam folder.</p>
<p>When we have confirmed we can provide the service we will take the payment and you will receive a receipt via email.</p>


<h2>What to do next</h2>

<p>Bring a print out of this payment confirmation page or your emailed confirmation along with the document(s) you wish to legalise.</p>

<p>From 20 October the Legalisation Office Premium Service will be moving to a new location. If you are a registered business customer, please contact the Legalisation Office for the new address details.</p>

<p>Contact the Legalisation Office if you have any problems.</p>

<div class="contact">
  <strong>Legalisation Office</strong>
  <p><a href="mailto:premium.service@fco.gov.uk">premium.service@fco.gov.uk</a></p>
</div>


<h2>Opening times</h2>
<p>The opening hours of the premium service office are:</p>
<ul>
  <li>9am to 12.30pm (the last drop-off time for pre-lunch pickup is 11am)</li>
  <li>1:30pm to 5pm (the last drop-off time for same day collection is 3:30pm)</li>
</ul>
