<h2>Authorisation for payment taken</h2>

<p>Thank you for your order from the Foreign & Commonwealth Office. We have taken pre-authorisation for the following:</p>

<div class ="content-block">
	<div class ="application-notice info-notice">
		<p>Date: <%= date %></p>
		<p>Payment Reference: <%= extractedParameters.merchantReference %></p>
		<p>FCO Reference: <%= extractedParameters.pspReference %></p>
		<p>Service: <%= transaction.slug %></p>
		<p>Amount: &pound;<%= formatMoney(merchantReturnDataJson.pa) %></p>
		<p>Card type: <%= extractedParameters.paymentMethod %></p>
		<p>You have paid for <%= pluralise("death registration", registrationCount(merchantReturnDataJson)) %> and <%= pluralise("certificate", documentCount(merchantReturnDataJson)) %> and postage coverage to <%=capitalise(merchantReturnDataJson.po) %>.</p>
		
	</div>
</div>

<p>We have emailed you a confirmation. If you don't receive the email please check your spam folder.</p>
<p>When we have confirmed we can provide the service we will take the payment and you will receive a receipt via email.</p>

<h2>What to do next</h2>

<ul>
  <li>write the payment reference on your application form</li>
  <li>print out this page or your emailed confirmation and include it with your application</li>
</ul>

<p>If you’re in the UK then send your application form and documents to:</p>

<div class="address">
  <div class="adr org fn">
    <p>
      Overseas Registration Unit<br/>
      Foreign &amp; Commonwealth Office<br/>
      PO Box 6255<br/>
      Milton Keynes<br/>
      MK10 1XX
    </p>
  </div>
</div>

<p>If you’re abroad then send your application form and documents to:</p>

<div class="address">
  <div class="adr org fn">
    <p>
      Overseas Registration Unit<br/>
      Foreign &amp; Commonwealth Office<br/>
      Hanslope Park<br/>
      Hanslope<br/>
      Milton Keynes<br/>
      MK19 7BH<br/>
      United Kingdom
    </p>
  </div>
</div>
